= form_for @user, :url => register_path do |f|
  =error_messages_for @user
  %fieldset
    .field.split
    = render :partial => 'shared/user_form', :locals => { :f => f }
    = render :partial => 'shared/user_password_form', :locals => { :f => f }
    = render :partial => 'shared/user_community_form', :locals => { :f => f}
    .field
      = f.label :gender
      .gender
        = f.radio_button :gender, "m"
        = f.label :gender_male, "Male"
      .gender
        = f.radio_button :gender, "f"
        = f.label :gender_female, "Female", :class => "male_female_label"
  -if params[:business]
    =f.fields_for :business do |b|
      =render :partial => 'shared/business_form', :locals => { :b => b }
  -else
    .field
      %h3=link_to "Are You a Business Owner?", :business => true
  .field
    =f.check_box :terms, :class => "text"
    I hereby agree to the
    =link_to "Terms and Conditions.", terms_path, :id => "terms_link"
  .field
    =submit_tag "Sign Up", :class => "submit", :id => "submit"
